/* app */
@nkbBlue: #3a87ad;
@nkbRed: #98012e;

@defaultColor: #333333;
@defaultLightColor: #444444;
@defaultHeaderLightColor: #666666;
@defaultDisabledColor: #999999;
@defaultDisabledLightColor: #cccccc;
@defaultBackgroundColor: #ffffff;
@defaultLineColor: #eeeeee;

/* link */
@linkColor: @nkbBlue;
@linkUnderlineColor: #89b7ce;
@linkActiveColor: @nkbRed;
@linkActiveUnderlineColor: #ddabba;
@linkDisabledColor: @defaultDisabledColor;
@linkDisabledUnderlineColor: @defaultDisabledLightColor;

/* state */
@invalidColor: #b94a48;
@dangerColor: #ff9933;

/* shadows */
@defaultShadowColor: #777777;
@defaultShadowBorderColor: #f0f0f0;
@defaultShadowHighlightBorderColor: #dddddd;

/* panel */
@panelBackgroundColor: #f6f6f6;
@panelBorderColor: #f0f0f0;
@panelBorderRadius: 3px;
@panelBorder: 1px solid @panelBorderColor;

/* search input */
@searchInputBorderColor: #ccc;
@searchInputBackgroundColor: #ffc76b;
@searchInputPlaceholderColor: #777;
@searchInputBtnColor: #555;
